/*---------- CSS variables  ----------*/

:root {
  --heading-font: "Archivo Black", sans-serif;
  --body-font: "Roboto", sans-serif;

  --primary: #203e5f;
  --second: #eb3455;
  --richBlack: #050b17;
  --border: #eeeff1;
  --white: #ffffff;
  --offWhite: #fafafa;
  --black: #000000;

  --space-small: max(4vh, 1.5rem) 0;
  --space: max(8vh, 3rem) 0;
  --space-bottom: max(4vh, 1.5rem);

  --shadow: rgba(0, 0, 0, 0.1) 0 0.25rem 1.5rem;
  --border-red: 0.25rem solid var(--second);
  --border-blue: 0.25rem solid var(--primary);
}

/*----------  Global (Based on Andy Bells reset)  ----------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  all: unset;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--richBlack);
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--white);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  width: 100%;
  height: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*=============================================
=            Generalt            =
=============================================*/

/*----------  Farver  ----------*/

.clr-primary {
  color: var(--primary);
}
.clr-second {
  color: var(--second);
}
.clr-richBlack {
  color: var(--richBlack);
}
.clr-white {
  color: var(--white);
}
.clr-black {
  color: var(--black);
}

.bg-primary {
  background: var(--primary);
}
.bg-second {
  background: var(--second);
}
.bg-richBlack {
  background: var(--richBlack);
}
.bg-white {
  background: var(--white);
}
.bg-black {
  background: var(--black);
}

/* Logo */

.logo {
  width: 100%;
  display: flex;
  position: relative;
  cursor: pointer;
  height: 2rem;
}

/*----------  spacing og layout  ----------*/

.container {
  width: min(85vw, 90rem);
  margin-inline: auto;
}

.one__col {
}

.one__two-col {
  display: grid;
  grid-gap: 2rem;
}

.two__one-col {
  display: grid;
  grid-gap: 2rem;
}

.three__col {
  display: grid;
  grid-gap: 2rem;
}

.mb,
section {
  margin-bottom: 3rem;
}

/*----------  Typografi  ----------*/

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.25;
  font-family: var(--heading-font);
}

h1,
.h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  max-width: 44rem;
  margin-bottom: 1.5rem;
}

h2,
.h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  max-width: 44rem;
  margin-bottom: 3.5rem;
}

h3,
.h3 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  max-width: 44rem;
  margin-bottom: 1rem;
}

p {
  max-width: 44rem;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  margin-bottom: 4rem;
}

.btn .btn__icon {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  display: flex;
}

.btn {
  background: var(--white);
  border: 0.15rem solid var(--second);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--second);
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background: var(--richBlack);
  border: 0.15rem solid var(--richBlack);
  color: var(--second);
}

/*=============================================
=            Laptop            =
=============================================*/

@media (min-width: 61.25rem) {
  /* General */

  .container {
    width: min(90vw, 90rem);
  }

  .one__two-col {
    grid-template-columns: 1fr 2fr;
  }

  .two__one-col {
    grid-template-columns: 2fr 1fr;
  }

  .three__col {
    display: grid;
  }

  .mb,
  section {
    margin-bottom: 4rem;
  }
}

/*=============================================
=            Desktop            =
=============================================*/
@media (min-width: 67.5rem) {
  .container {
    width: min(90vw, 90rem);
  }
}

/*=============================================
=            Laaaarge screen            =
=============================================*/

@media (min-width 80rem: ) {
}
